.dateSelectors button {
  margin: 0 2rem;
}

.selectPreviousDate {
  float: left;
}

.selectNextDate {
  float: right;
}

.logEntries {
  list-style: none;
  padding: 0;
  margin: 0.5rem;
}

.logEntries > * {
  flex-grow: 1;
}

.logEntry {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
}

.logEntryHours,
.logEntryMinutes,
.logEntryProject,
.logEntryDescription,
.logEntryDelete,
.logEntryDuplicate {
  font-size: .9rem;
  line-height: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  padding: 0.5rem;
}

.logEntryHours,
.logEntryProject,
.logEntryDescription,
.logEntryDelete {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.logEntryMinutes,
.logEntryDescription,
.logEntryDelete,
.logEntryDuplicate {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.logEntryProject {
  background-color: var(--color-project);
  color: var(--color-text);
  padding-top: 0.44rem;
  padding-bottom: 0.44rem;
}

.logEntryDescription {
  flex-grow: 2;
}

.logEntryDelete,
.logEntryDuplicate {
  background-color: var(--color-danger);
  color: #fff;
  min-width: 1.5rem;
}

.logEntryDelete:hover {
  background-color: var(--color-danger-hover);
}

.logEntryDuplicate {
  background-color: var(--color-add);
  color: var(--color-add-text);
}

.logEntryDuplicate:hover {
  background-color: var(--color-add-hover);
}

.logEntryBreak {
  position: relative;
  color: var(--color-text);
  font-size: 0.75rem;
  text-shadow: 0 0 3px var(--color-background);
}

.logEntryExtendUp,
.logEntryExtendDown {
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-top: 0;
  border-bottom: 0;
  padding: 0.25rem 0.25rem;
  margin: -0.3rem 0;
  height: 1.45rem;
  top: 1px;
  left: 2.8rem;
  position: absolute;
}

.logEntryExtendUp:hover,
.logEntryExtendDown:hover {
  background-color: var(--color-button-hover);
}

.logEntryExtendDown {
  left: 10.5rem;
}