.todoListClearDoneTodos {
  background-color: var(--color-danger);
  color: #fff;
}

.todoListClearDoneTodos:hover {
  background-color: var(--color-danger-hover);
}

.todoListCreateNewTodo {
  background-color: var(--color-add);
  color: var(--color-add-text);
}

.todoListCreateNewTodo:hover {
  background-color: var(--color-add-hover);
}

.todoList {
  list-style: none;
  padding: 0;
  margin: 0.5rem;
}

.todoList > * {
  flex-grow: 1;
}

.todoListItem {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
}

.todoListItem--done .todoListItemDescription {
  text-decoration: line-through;
}

.todoListItemProject,
.todoListItemDescription {
  font-size: .9rem;
  line-height: 1rem;
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid var(--color-border);
  padding: 0.5rem;
}

.todoListItemDescription {
  flex-grow: 2;
  text-align: left;
}

.todoListItemProject + .todoListItemDescription {
  border-radius: 0;
  margin-left: -1px;
}

.todoListItemProject {
  padding-top: 0.44rem;
  padding-bottom: 0.44rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--color-project);
}

.todoListItem button,
.todoListItemCheckbox {
  font-size: .9rem;
  line-height: 1rem;
  border: 1px solid var(--color-border);
  padding: 0.5rem;
  vertical-align: middle;
  box-shadow: none;
}

.todoListItemActionButtons button {
  margin-left: -1px;
  border-radius: 0;
}

.todoListItemCheckbox {
  --size: 2.1rem;
  height: var(--size);
  width: var(--size);
  position: relative;
}

.todoListItem:not(.todoListItem--done) .todoListItemCheckbox:hover::before {
  content: '\2713';
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  line-height: 100%;
  padding-top: 0.25rem;
}

button.todoListItemDelete {
  background-color: var(--color-danger);
  color: #fff;
  min-width: 1.5rem;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.todoListItemDelete:hover {
  background-color: var(--color-danger-hover);
}

.exportToTimeTracker {
  background-color: var(--color-add);
  color: var(--color-add-text);
}

.exportToTimeTracker:hover {
  background-color: var(--color-add-hover);
}